---
const experiences = [
	{
		role: "UX/UI Designer",
		company: "Wezeo",
		employmentType: "Internship",
		start: "Jul 2024",
		end: "Present",
		location: "Bratislava, Slovakia",
		workplaceType: "On-site",
	},
	{
		role: "Graphic Designer",
		company: "Oravská knižnica Antona Habovštiaka",
		employmentType: "Full-time",
		start: "Oct 2024",
		end: "Present",
		location: "Dolný Kubín, Slovakia",
		workplaceType: "Remote",
	},
	{
		role: "Co-Founder",
		company: "Artistic Area Club",
		employmentType: "Full-time",
		start: "Jan 2024",
		end: "Present",
		location: "Bratislava, Slovakia",
		workplaceType: "Hybrid",
	},
	{
		role: "Freelance Graphic Designer",
		company: "Freelance",
		employmentType: "",
		start: "Sep 2022",
		end: "Jun 2025",
		location: "Remote",
		workplaceType: "",
	},
];
---

<section class="w-full max-w-6xl mx-auto text-palette-brightest-white py-16 mt-36">
	<div class="container mx-auto px-4">
		<h2 class="text-base font-mono text-secondary-foreground">Experience</h2>
		<div class="divide-y divide-white/10">
			{experiences.map((item) => (
				<div class="grid grid-cols-1 md:grid-cols-3 gap-6 py-5">
					<div>
						<p class="text-lg">{item.role}</p>
						<p class="text-sm text-secondary-foreground">{item.start} - {item.end}</p>
					</div>
					<div>
						<p class="text-base">{item.company}</p>
						{item.employmentType && (
							<p class="text-sm text-secondary-foreground">{item.employmentType}</p>
						)}
					</div>
					<div>
						<p class="text-base">{item.location}</p>
						{item.workplaceType && (
							<p class="text-sm text-secondary-foreground">{item.workplaceType}</p>
						)}
					</div>
				</div>
			))}
		</div>
		<div class="flex justify-center pt-10">
			<a href="/about" class="text-base font-mono text-palette-brightest-white hover:text-white hover:underline transition-colors duration-300">more_about_me</a>
		</div>
	</div>
</section>


